#FIXME(issue-291) Work around Steamlink not properly detecting the mappings
ACTION=="add|change", DRIVERS=="vader3", SUBSYSTEM=="hidraw", MODE:="0000"
